/* Style podstawowe */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f0f0f0;
    color: #333;
    transition: background 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}

/* Ciemny motyw */
.dark-mode {
    background: #222;
    color: #fff;
}

/* Przycisk zmiany motywu - tylko ikona */
#theme-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: inherit;
}

/* Styl dla kontenera z zegarem */
.container {
    margin-top: 30px;
}

/* Styl dla tytułu */
h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Flexbox do układu zegara */
.flip-clock {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100%; /* Ustawiamy szerokość na 100% dla lepszego dopasowania */
    max-width: 500px; /* Ograniczamy maksymalną szerokość zegara */
    margin: 0 auto;
}

/* Styl dla poszczególnych "czasomierzy" */
.time-box {
    background: #222;
    color: white;
    font-size: 40px;
    padding: 20px;
    border-radius: 5px;
    min-width: 60px;
    text-align: center;
    font-weight: bold;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.time-box small {
    display: block;
    font-size: 14px;
    margin-top: 5px;
	font-weight: normal;
}


/* Pasek statusu, dopasowuje szerokość do kontenera zegara */
#status-bar {
    height: 2px;
    margin: 20px auto;
    background: red;
    width: 370px;
}

/* Styl na urządzenia mobilne */
@media (max-width: 768px) {
    .flip-clock {
        flex-direction: column;
        align-items: center;
    }

    .time-box {
        margin-bottom: 10px;
    }
}
